@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(252 , 222 , 222);
  text-align: center;
}

header {
  background-color: rgb(243 , 205 , 219);
  padding: 60px;
}

h1{
  font-size: 40px;
  font-family: 'Dancing Script', cursive, sans-serif;  
}

p {
  font-style: oblique;
  font-size: 18px;
  margin-top: 20px;   
}

#senha {
  margin-top: 50px;
  padding: 3px 5px 3px 5px;
  text-align: center;
  border-radius: 40px;
  width: 200px;
}

input:focus {
  box-shadow: 0 0 3px 3px rgb(174 , 213 , 226);
  outline: 0;
}

#start {
  margin-top: 20px;
  background-color: rgb(174 , 213 , 226);
  padding: 5px;
  cursor: pointer;
  border-radius: 40px;
}

.click:active {
  box-shadow: 0 0 3px 3px rgb(174 , 213 , 226);
}

.mural {
  position: relative;
  background-color: rgb(252 , 248 , 239);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  width: 355px;
  height: 270px;
  border-radius: 10px;
  padding-top: 10px;
}

.continue {
  margin-top: 20px;
  background-color: rgb(174 , 213 , 226);
  padding: 5px;
  cursor: pointer;
  border-radius: 40px;  
}